In [40]:
import csv
import json
import mysql.connector

# please modify hw4_config.json to your own config file
with open('./hw4_config.json') as f:
    config = json.load(f)

host = config['host']
user = config['user']
passwd = config['passwd']
dbms_student_path = config['dbms_student_path']
new_student_path = config['new_student_path']

In [42]:
cnx = mysql.connector.connect(host=host, user=user, passwd=passwd)

cursor = cnx.cursor()

cursor.execute("show databases")
for i in cursor:
  print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

## 1-1: Input data into student table

In [43]:
cursor.execute("create database DB_class")

In [44]:
cursor.execute("use DB_class")

In [45]:
student_table_name = 'student'

create_table_query = f"""
CREATE TABLE {student_table_name} (
  身份 VARCHAR(255),
  系所 VARCHAR(255),
  年級 INT,
  學號 VARCHAR(255) PRIMARY KEY,
  姓名 VARCHAR(255),
  信箱 VARCHAR(255),
  班別 VARCHAR(255)
)
"""

cursor.execute(create_table_query)

In [46]:
with open(dbms_student_path, 'r') as csvfile:
  csvreader = csv.reader(csvfile)
  
  header = next(csvreader, None)
  
  for row in csvreader:
    身份, 系所, 年級, 學號, 姓名, 信箱, 班別 = row
    
    insert_query = f"""
    INSERT INTO {student_table_name} (身份, 系所, 年級, 學號, 姓名, 信箱, 班別)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    
    cursor.execute(insert_query, (身份, 系所, 年級, 學號, 姓名, 信箱, 班別))
  
  cnx.commit()
cursor.close()

## 1-2: Read the information about yourself

In [52]:
cursor = cnx.cursor()
my_id = 'r11521603'

select_myself_query = f"""
SELECT * FROM {student_table_name} WHERE 學號 = %s
"""

cursor.execute(select_myself_query, (my_id,))

result = cursor.fetchone()

if result:
    print("Student Information:")
    print("身份:", result[0])
    print("系所:", result[1])
    print("年級:", result[2])
    print("學號:", result[3])
    print("姓名:", result[4])
    print("信箱:", result[5])
    print("班別:", result[6])
else:
    print("Student not found.")

cursor.close()

Student Information:
身份: 特優生
系所: 土木系電輔組
年級: 1
學號: R11521603
姓名: 陳冠錞 (KUAN-CHUN CHEN)
信箱: r11521603@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)

True

## 1-3: Update your own value of the "身份" column

In [54]:
cursor = cnx.cursor()
update_myself_query = f"""
UPDATE student SET 身份 = %s WHERE 學號 = %s 
"""

cursor.execute(update_myself_query, ("特優生", my_id,))

cursor.execute(select_myself_query, (my_id,))

result = cursor.fetchone()

if result:
    print("Student Information:")
    print("身份:", result[0])
    print("系所:", result[1])
    print("年級:", result[2])
    print("學號:", result[3])
    print("姓名:", result[4])
    print("信箱:", result[5])
    print("班別:", result[6])
else:
    print("Student not found.")

cnx.commit()
cursor.close()

Student Information:
身份: 特優生
系所: 土木系電輔組
年級: 1
學號: R11521603
姓名: 陳冠錞 (KUAN-CHUN CHEN)
信箱: r11521603@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)

True

## 1-4: Insert three new students

In [55]:
cursor = cnx.cursor()
with open(new_student_path, 'r') as csvfile2:
  csvreader = csv.reader(csvfile2)
  
  header = next(csvreader, None)
  
  for row in csvreader:
    身份, 系所, 年級, 學號, 姓名, 信箱, 班別 = row
    
    insert_query = f"""
    INSERT INTO {student_table_name} (身份, 系所, 年級, 學號, 姓名, 信箱, 班別)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    
    cursor.execute(insert_query, (身份, 系所, 年級, 學號, 姓名, 信箱, 班別))
  
  cnx.commit()
cursor.close()

True

## 1-5: Prepared select statement

In [65]:
cursor = cnx.cursor(prepared=True)

stmt = f"""
SELECT * FROM student WHERE 學號 = ?
"""

cursor.execute(stmt, ("R10123456",))

result = cursor.fetchone()

if result:
  print("Student Information:")
  print("身份:", result[0])
  print("系所:", result[1])
  print("年級:", result[2])
  print("學號:", result[3])
  print("姓名:", result[4])
  print("信箱:", result[5])
  print("班別:", result[6])
else:
  print("Student not found.")

cursor.close()

Student Information:
身份: 旁聽生
系所: 電機所
年級: 2
學號: R10123456
姓名: 小紅
信箱: r10123456@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)

In [57]:
cursor = cnx.cursor(prepared=True)
cursor.execute(stmt, ("B09987653",))

result = cursor.fetchone()

if result:
  print("Student Information:")
  print("身份:", result[0])
  print("系所:", result[1])
  print("年級:", result[2])
  print("學號:", result[3])
  print("姓名:", result[4])
  print("信箱:", result[5])
  print("班別:", result[6])
else:
  print("Student not found.")

cursor.close()

Student Information:
身份: 學生
系所: 物理系
年級: 3
學號: B09987653
姓名: 小黃
信箱: b09987653@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)

In [59]:
cursor = cnx.cursor(prepared=True)
cursor.execute(stmt, ("R11123001",))

result = cursor.fetchone()

if result:
  print("Student Information:")
  print("身份:", result[0])
  print("系所:", result[1])
  print("年級:", result[2])
  print("學號:", result[3])
  print("姓名:", result[4])
  print("信箱:", result[5])
  print("班別:", result[6])
else:
  print("Student not found.")

cursor.close()

Student Information:
身份: 觀察者
系所: 電信所
年級: 1
學號: R11123001
姓名: 小綠
信箱: r11123001@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)

## 1-6: Group information

In [60]:
cursor = cnx.cursor()

add_group_query = f"""
ALTER TABLE {student_table_name}
ADD COLUMN final_group INT,
ADD COLUMN final_captain CHAR
"""

cursor.execute(add_group_query)

cnx.commit()

In [64]:
cursor = cnx.cursor()

update_group_query = f"""
UPDATE student SET final_group = 2 WHERE 學號 = 'R11521603' OR 學號 = 'R11521613'
OR 學號 = 'R11521616' OR 學號 = 'R10724039' OR 學號 = 'R11944022'
"""

update_group_query2 = f"""
UPDATE student SET final_group = 0 WHERE 學號 != 'R11521603' AND 學號 != 'R11521613'
AND 學號 != 'R11521616' AND 學號 != 'R10724039' AND 學號 != 'R11944022'
"""

update_captain_query = f"""
UPDATE student SET final_captain = 'Y' WHERE 學號 = 'R11521603'
"""

update_captain_query2 = f"""
UPDATE student SET final_captain = 'N' WHERE 學號 != 'R11521603'
"""

cursor.execute(update_group_query)
cursor.execute(update_group_query2)
cursor.execute(update_captain_query)
cursor.execute(update_captain_query2)

cnx.commit()
cursor.close()

True

In [66]:
cursor = cnx.cursor()

select_group2_query = f"""
SELECT * FROM student WHERE final_group = 2
"""

cursor.execute(select_group2_query)

results = cursor.fetchall()

if results:
  print("Student Information:")
  for result in results:
    print("身份:", result[0])
    print("系所:", result[1])
    print("年級:", result[2])
    print("學號:", result[3])
    print("姓名:", result[4])
    print("信箱:", result[5])
    print("班別:", result[6])
    print("final_group:", result[7])
    print("final_captain:", result[8])
    print("--------------")
else:
  print("No student information found.")

cursor.close()

Student Information:
身份: 學生
系所: 國企系
年級: 2
學號: R10724039
姓名: 黃  昕 (HSIN, HUANG)
信箱: r10724039@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)
final_group: 2
final_captain: N
--------------
身份: 特優生
系所: 土木系電輔組
年級: 1
學號: R11521603
姓名: 陳冠錞 (KUAN-CHUN CHEN)
信箱: r11521603@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)
final_group: 2
final_captain: Y
--------------
身份: 學生
系所: 土木系電輔組
年級: 1
學號: R11521613
姓名: 林沛忻 (PEI-HSIN LIN)
信箱: r11521613@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)
final_group: 2
final_captain: N
--------------
身份: 學生
系所: 土木系電輔組
年級: 1
學號: R11521616
姓名: 何宏發 (HO WANG FAT)
信箱: r11521616@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)
final_group: 2
final_captain: N
--------------
身份: 學生
系所: 網媒所
年級: 1
學號: R11944022
姓名: 吳雲行 (WU, YUN-SHING)
信箱: r11944022@ntu.edu.tw
班別: 資料庫系統-從SQL到NoSQL (EE5178)
final_group: 2
final_captain: N
--------------

True

In [67]:
cnx.close()